<h2><p>Welcome to my rock, paper, scissors game!</p></h2>

<p>To play, add your selections to the address bar after rps, eg. rps/rock/paper</p>

<p>The winning permutations are:
<ul>
  <li>Paper beats rock</li>
  <li>Rock beats scissors</li>
  <li>Scissors beat paper</li>
</ul>


</p>